<header class="row" role="header">
    <div class="col">
        <app-menu></app-menu>
    </div>
    <div class="col text-center">
        <h1 routerLink="/">
            <span>{{ headerLogoFirstPart }}</span>
            <span>{{ headerLogoSecondPart }}</span>
        </h1>
    </div>
    <div class="col text-right">
        <ul class="nav-menu">
            <li class="glyph-calculator" routerLink="computation" routerLinkActive="active">
                <span class="sr-only">{{ headerNavCalculator }}</span>
            </li>
            <li class="glyph-camera" routerLink="use-your-camera" routerLinkActive="active">
                <span class="sr-only">{{ headerNavCamera }}</span>
            </li>
            <li class="glyph-attach" routerLink="attach-file" routerLinkActive="active">
                <span class="sr-only">{{ headerNavFile }}</span>
            </li>
        </ul>
    </div>
</header>