<section class="main" role="main">

    <div [ngClass]="['calculator', shownCalculatorType]" *ngIf="showCalculator">
        <div class="calculator-header">
            <div class="calculator-editor" #editor (keypress)="keyPress($event)"></div>
            <div class="calculator-actions">
                <button class="btn btn-small pull-left" (click)="toggleCalculatorState()">{{ calculatorType | titlecase }}</button>
                <button [ngClass]="{ 'btn btn-icon pull-right': true, 'highlight' : clearInterfaceHighlight }"><span class="glyph glyph-backspace"></span></button>
            </div>
        </div>
        <div class="calculator-body">
            <div class="basic-container">
                <button igxButton igxRipple="white" [ngClass]="button.cssClasses" (click)="onClick(button.mathSymbol)" *ngFor="let button of basicStateCalculatorButtons; let i = index;">
                    <app-mathquill [symbols]="button.mathSymbol"></app-mathquill>
                </button>
            </div>
            <div class="advanced-container" *ngIf="calculatorStates['advanced']">
                <div class="trigonometric">
                    <button igxButton igxRipple="white" [ngClass]="button.cssClasses" (click)="onClick(button.mathSymbol)" *ngFor="let button of advancedStateCalculatorButtons[TRIGONOMETRIC_FUNCTIONS]; let i = index;">
                        <app-mathquill [symbols]="button.interfaceSymbol"></app-mathquill>
                    </button>
                </div>
                <div class="mathematic">
                    <button igxButton igxRipple="white" [ngClass]="button.cssClasses" (click)="onClick(button.mathSymbol)" *ngFor="let button of advancedStateCalculatorButtons[MATHEMATICAL_FUNCTIONS]; let i = index;">
                        <app-mathquill [symbols]="button.mathSymbol"></app-mathquill>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <app-computation-result></app-computation-result>

</section>


