<div class="center-block">
    <div *ngIf="showCalculator">
        <div class="computation-container">
            <span #editor (keypress)="keyPress($event)"></span>
        </div>

        <div class="calculator-middle-section">
            <button class="calculator-toggler" (click)="toggleCalculatorState()">{{ calculatorType | titlecase }}</button>
            <span [ngClass]="{ 'clearResult': true, 'clearInterfaceHighlight' : clearInterfaceHighlight }">x</span>
        </div>
        

        <div class="basic-computer-container" *ngIf="calculatorStates['basic']">
            <div *ngFor="let button of basicStateCalculatorButtons; let i = index;">
                <button [ngClass]="button.cssClasses" (click)="onClick(button.mathSymbol)">
                    <app-mathquill [symbols]="button.mathSymbol"></app-mathquill>
                </button>
            </div>
        </div>

        <div class="advanced-computer-container" *ngIf="calculatorStates['advanced']">
            <div *ngFor="let button of basicStateCalculatorButtons; let i = index;">
                <button [ngClass]="button.cssClasses" (click)="onClick(button.mathSymbol)">
                    <app-mathquill [symbols]="button.mathSymbol"></app-mathquill>
                </button>
            </div>

            <div *ngFor="let button of advancedStateCalculatorButtons[TRIGONOMETRIC_FUNCTIONS]; let i = index;">
                <button [ngClass]="button.cssClasses" (click)="onClick(button.mathSymbol)">
                    <app-mathquill [symbols]="button.interfaceSymbol"></app-mathquill>
                </button>
            </div>

            <div *ngFor="let button of advancedStateCalculatorButtons[MATHEMATICAL_FUNCTIONS]; let i = index;">
                <button [ngClass]="button.cssClasses" (click)="onClick(button.mathSymbol)">
                    <app-mathquill [symbols]="button.mathSymbol"></app-mathquill>
                </button>
            </div>
        </div>
    </div>
    <app-computation-result></app-computation-result>
</div>