<div class="center-block">
    <form *ngIf="symbolicDictionary">
        <div *ngFor="let trigFunction of symbolicDictionary['TrigFunctions']; let i = index;">
            <button class="form-control" style="display:block;width:100px;height:40px;">
                <ng-katex [equation]="trigFunction" [options]="options"></ng-katex>
            </button>
        </div>

        <div *ngFor="let operation of symbolicDictionary['Operations']; let i = index;">
            <button class="form-control" style="display:block;width:100px;height:40px;">
                <ng-katex [equation]="operation" [options]="options"></ng-katex>
            </button>
        </div>

        <div *ngFor="let mathFunction of symbolicDictionary['MathFunctions']; let i = index;">
            <button class="form-control" style="display:block;width:100px;height:40px;">
                <ng-katex [equation]="mathFunction" [options]="options"></ng-katex>
            </button>
        </div>
    </form>
</div>