<div class="steps" *ngIf="isShown">
    <div class="step" *ngFor="let step of computationSteps; index as i" [ngClass]="{ 'open': step.isOpen }" (click)="toggleStep(step)">
        <div class="step-title">Step {{ i + 1 }}</div>
        <div class="step-parent">
            <app-mathquill [symbols]="step.step"></app-mathquill>
        </div>
        <div class="step-child" *ngFor="let childStep of step.children">
            <app-mathquill [symbols]="childStep.step"></app-mathquill>
        </div>
    </div>
</div>