// Buttons
button {
    padding: 0;
    border: none;
    outline: 0 none;
    font-weight: 300;
    cursor: pointer;
}
.btn {
    color: $white;
    background: $black-white-9;
    &-small {
        height: 30px;
        font-size: 16px;
        line-height: 30px;
        padding: 0 20px;
        @include border-radius(15px);
    }
    &-icon {
        width: 20px;
        height: 20px;
        font-size: 20px;
        line-height: 20px;
        color: $black-white-13;
        background: none;
        &.highlight {
            color: $cyan;
        }
    }
    &.active {
        background: $cyan;
    }
    &-orange {
        background: $orange;
    }
}

// Switch
.switch {
    position: relative;
    display: inline-block;
    width: 42px;
    height: 22px;
    input[type=checkbox] {
        @include opacity(0);
        &:checked + label {
            background: $cyan;
            &:before {
                left: 22px;
            }
        }
    }
    label {
        position: absolute;
        top: 0;
        left: 0;
        width: 42px;
        height: 22px;
        background: $black-white-87;
        cursor: pointer;
        @include border-radius(11px);
        @include transition(#{$default-transition});
        &:before {
            content: '';
            position: absolute;
            top: 2px;
            left: 2px;
            width: 18px;
            height: 18px;
            background: $white;
            @include border-radius(50%);
            @include transition(#{$default-transition});
        }
    }
}