.hamburger-menu {
    position: relative;
    width: 36px;
    height: 36px;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    outline: 0 none;
    .bar {
        display: block;
        width: 24px;
        height: 2px;
        margin: 0 auto;
        background: $white;
        transition: all .4s ease;
        &.top,
        &.bottom {
            position: absolute;
            left: 6px;
        }
        &.top {
            top: 10px;
        }
        &.bottom {
            bottom: 10px;
        }
    }
    &.active {
        .middle {
            width: 0;
            @include opacity(0);
        }
        .top {
            top: 17px;
            transform: rotateZ(45deg);
        }
        .bottom {
            bottom: 17px;
            transform: rotateZ(-45deg);
        }
    }
}

h1 {
    font-size: 26px;
    font-weight: 700;
    > span {
        color: $cyan;
        text-transform: uppercase;
    }
    span + span {
        color: $white;
        font-weight: 300;
        text-transform: none;
    }
}