.ripple-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    span {
        position: absolute;
        background-color: #fff;
        animation: #{$ripple-name} #{$ripple-duration};
        @include transform(scale(0));
        @include border-radius(100%);
        @include opacity(0.1);
    }
}

@include keyframes(#{$ripple-name}) {
    to {
        @include transform(scale(2));
        @include opacity(0);
    }
}