// Fills
$black:             #000000;
$black-white-9:     #171717;
$black-white-13:    #222222;
$black-white-20:    #333333;
$black-white-40:    #666666;
$black-white-60:    #999999;
$black-white-87:    #DFDFDF;
$black-white-92:    #ECECEC;
$black-white-96:    #F5F5F5;
$black-white-99:    #FCFCFC;
$white:             #FFFFFF;
$orange:            #E9B104;
$red:               #D64343;
$cyan:              #00A9AB;

// Fonts
$global-font-family: "Roboto" !default;
$global-font-path: "/assets/fonts/global-fonts" !default;
$global-font-size: 16px !default;

// Glyphicons
$glyphicons-font-family: "JovianSystemsGlyphicons" !default;
$glyphicons-font-path: "/assets/fonts/global-glyphicons" !default;

// Transitions
$bezier: ".65,.07,.63,.95";
$default-transition: "all .35s cubic-bezier(#{$bezier})";
$ripple-name: "ripple";
$ripple-duration: "1s";
$calculator-transition: "all .35s cubic-bezier(#{$bezier})";


