<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.8.3/katex.min.css">
<h1>
  {{title}}
</h1>
<mat-chip-list>
  <mat-chip class="trig">sin</mat-chip>
  <mat-chip class="trig">cos</mat-chip>
  <mat-chip class="trig">tan</mat-chip>
</mat-chip-list>
<mat-chip-list>
  <mat-chip class="trig">sinh</mat-chip>
  <mat-chip class="trig">cosh</mat-chip>
  <mat-chip class="trig">tanh</mat-chip>
</mat-chip-list>
<mat-chip-list>
  <mat-chip class="trig">sec</mat-chip>
  <mat-chip class="trig">csc</mat-chip>
  <mat-chip class="trig">cot</mat-chip>
</mat-chip-list>
<mat-chip-list>
  <mat-chip class="trig">asin</mat-chip>
  <mat-chip class="trig">acos</mat-chip>
  <mat-chip class="trig">atan</mat-chip>
</mat-chip-list>
<mat-chip-list>
  <mat-chip class="trig">fraction</mat-chip>
  <mat-chip class="trig">round</mat-chip>
</mat-chip-list>
<mat-chip-list>
  <mat-chip class="trig">7</mat-chip>
  <mat-chip class="trig">8</mat-chip>
  <mat-chip class="trig">9</mat-chip>
</mat-chip-list>
<mat-chip-list>
  <mat-chip class="trig">4</mat-chip>
  <mat-chip class="trig">5</mat-chip>
  <mat-chip class="trig">6</mat-chip>
</mat-chip-list>
<mat-chip-list>
  <mat-chip class="trig">1</mat-chip>
  <mat-chip class="trig">2</mat-chip>
  <mat-chip class="trig">3</mat-chip>
</mat-chip-list>
<mat-chip-list>
  <mat-chip class="trig">0</mat-chip>
  <mat-chip class="trig">.</mat-chip>
</mat-chip-list>

<app-computation></app-computation>
<app-katex [equation]="equation" [options]="options"></app-katex>